@model Entity.User

<li>
    <div>
        <img src="@Url.Action("GetImage","Profile",new { PhotoId = Model.UserPhotoId})" width="150" height="150" />
        <p>
            <a href="@Url.Action("Index","Profile",new  { id = Model.UserId})">@Model.UserName @Model.UserSurname </a>
        </p>
    </div>
</li>
