@model Entity.User

<li>
    <div>
        <img src="@Url.Content(Model.UserPhoto ?? "~/Images/noavatar.jpg")" width="300" height="300" />
        <p>
            <a href="@Url.Action("Index","Profile",new  { id = Model.UserId})">@Model.UserName @Model.UserSurname </a>
        </p>
    </div>

</li>
