body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.photos{
    margin-top:20px;
}
ul.friends li{
    display:inline;

}

ul.friends li{
    display:inline-block;
}

.mailfrom p {
    color:black;
    float:right;    
}

.mailfrom img {
    float:left;
}
.mailfrom {
    clear: both;
    height: 160px;
}
.mailto p{
    color:red;
    float: left;
}

.mailto img {
    float: right;
}

.mailto {
    clear: both;
    background: gray;
    height: 150px;
    margin-bottom: 10px;
}

.mess-form {
    
}

.scroll {
    overflow-y: scroll;
    height: 700px;
}

#AvatarPhoto{
    margin-bottom:15px;

}

